.header {
    padding: 10px; /* some padding */
    text-align: center; /* center the text */
    background: grey; /* green background */
    color: white; /* white text color */
  }
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 40px;
    white-space: nowrap;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: #131313; /* black background */
    text-align: center;
  }

  span {
    display: inline-block;
  }

  div, span {
    padding: 5px; 
  }
